
<h1>Sell ShintoCoins</h1>
<strong>Current ShintoCoin value: ${{shintoCoin}}</strong>
<br>
<strong>Number of ShintoCoins Owned: {{balance}} </strong>
<br>
<br>
<div class="container border border-dark rounded">
	<form (submit)="sellCoinPost()">
		{{ sellCoin | json }}
		<div class="form-row mt-4">
			<input type="text" class="form-control col-6" name="sellCoin" [(ngModel)]="sellCoin" placeholder="Number">
			<input type="submit" class="btn btn-danger mb-3 ml-3" value="Sell">
		</div>
	</form>
</div>
